@import "theme.scss";

.header {
    height: 60px;

    .inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
            display: flex;
        }
    }
}

.title_header {
    height: 60px;
    display: block;
}

.nav {
    height: 60px;

    .inner {
        a {
            display: flex;
            flex-direction: column;
            height: auto;
            gap: 3px;
            padding: 5px;
            width: 40px;
        }
    }
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.app_modal {
    &.confirm_modal {
        .modal_footer {
            button {
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }

    display: block;
    padding: 20px 0;

    .modal_header {
        display: block;
        margin-bottom: 3px;
    }

    .modal_content {
        display: block;
    }

    .modal_footer {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
}

.prompt_modal_base {
    display: block;
    margin: 0;
    width: $width;
    max-width: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    .modal_header {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 16px 0;

        .bar_line {
            width: 40px;
            height: 4px;
            display: block;
        }
    }

    .modal_content {
        display: block;
    }

    .modal_footer {
        padding: 16px 0;

        .footer_inner {
            display: flex;
        }
    }
}

.loading_modal {
    display: block;

    .modal_body {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.postcode_modal {
    display: block;

    .modal_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}